#QbackGround {
    z-index: -1;
}

#btn1 {
    position: absolute;
    z-index: 1;
    top: 46%;
    left: 27%;
}

#btn2 {
    position: absolute;
    z-index: 1;
    top: 46%;
    left: 35%;
}

#btn3 {
    position: absolute;
    z-index: 1;
    top: 46%;
    left: 44%;
}

#btn4 {
    position: absolute;
    z-index: 1;
    top: 46%;
    left: 53%;
}

#btn5 {
    position: absolute;
    z-index: 1;
    top: 46%;
    left: 62%;
}

#btn6 {
    position: absolute;
    z-index: 1;
    top: 46%;
    left: 70%;
}